<!--The whole content below can be removed with the new code.-->
<div class="container">

<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  
</div>
</div>




<div class="container">
  <form #f="ngForm" novalidate (ngSubmit)="save(f.valid)">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" 
        name="name" [(ngModel)]="comment.name" 
        #name="ngModel" required minlength="5">
      <small [hidden]="name.valid || (name.pristine && !f.submitted)" class="text-danger">
            Name is required (minimum 5 characters).
          </small>
      <!--<pre>{{name.errors | json}}</pre>-->
    </div>
    <div class="form-group">
      <label>Comment</label>
      <textarea type="text" class="form-control" 
        name="text" [(ngModel)]="comment.text" 
        #text="ngModel" required minlength="5"></textarea>
      <small [hidden]="text.valid || (text.pristine && !f.submitted)" class="text-danger">
            Comment is required (minimum 5 characters).
          </small>
      <!--<pre>{{name.errors | json}}</pre>-->
    </div>

    <button type="submit" class="btn btn-danger pull-right">Post Comment</button>
  </form>
	
</div>


<div class="container">
	<div class="row">
		<div *ngFor="let comment of comment_list;let i=index;">
			<div class="_name">
				<div>
					<h4>{{ i }}.</h4>
				</div>
				<div>
					<h4>{{ comment.name }}</h4>
					<p>{{ comment.text }}</p>
				</div>
				<div class="pull-right">
					<div class="votes">
						<i style="color: green;" class="fa fa-thumbs-up" aria-hidden="true" (click)="vote(comment._id, 'u')"></i>
						<h4>{{comment.upvotes}}</h4>
					</div>
					<div class="votes">
						<i style="color: red;" class="fa fa-thumbs-down" aria-hidden="true" (click)="vote(comment._id, 'd')"></i>
						<h4>{{comment.downvotes}}</h4>						
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>